<!-- FAQ -->
<div
  class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-gray-600"
>
  <!-- Grid -->
  <div class="grid md:grid-cols-5 gap-10">
    <div class="md:col-span-2">
      <div class="max-w-xs">
        <h2
          class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"
        >
          Work<br />Experience
        </h2>
        <!-- <p class="mt-1 hidden md:block text-gray-600 dark:text-gray-400">
          Answers to the most frequently asked questions.
        </p> -->
      </div>
    </div>
    <!-- End Col -->

    <div class="md:col-span-3">
      <!-- Accordion -->
      <div class="hs-accordion-group" data-hs-accordion-always-open="true">
        <!-- Start Accordion Section -->
        <div
          class="hs-accordion pb-3"
          id="hs-basic-with-title-and-arrow-stretched-heading-one"
        >
          <button
            class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
            aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
          >
            Singlestone | Richmond, VA
            <svg
              class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"></path>
            </svg>
            <svg
              class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"></path>
            </svg>
          </button>
          <div
            id="hs-basic-with-title-and-arrow-stretched-collapse-one"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
          >
            <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">Start:</span> Nov 2023
            </p>
            <!-- <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">End:</span> Aug 2023
            </p> -->

            <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">Role(s):</span> Front End Engineer
            </p>

            <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">Tech Stack(s):</span> React, Next.JS
            </p>

            <!-- <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">Achievements:</span> Succesful delivery,
              hit milestones, bug free code, client communication, leadership training,
              recognition of greatness, team player
            </p> -->
          </div>
        </div>
        <!-- End Accordion Section -->

        <!-- Start Accordion Section -->
        <div
          class="hs-accordion pb-3"
          id="hs-basic-with-title-and-arrow-stretched-heading-one"
        >
          <button
            class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
            aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
          >
            RTS Labs | Glen Allen, VA
            <svg
              class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"></path>
            </svg>
            <svg
              class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"></path>
            </svg>
          </button>
          <div
            id="hs-basic-with-title-and-arrow-stretched-collapse-one"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
          >
            <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">Start:</span> Feb 2018
            </p>
            <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">End:</span> Aug 2023
            </p>

            <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">Role(s):</span> Web Developer, FE
              Developer, FullStack Developer, Senior Developer, Tech Lead
            </p>

            <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">Tech Stack(s):</span> React, React
              Native, Vue, RoR, Web Components
            </p>

            <p class="text-gray-600 dark:text-gray-400">
              <span class="font-bold text-white">Achievements:</span> Succesful delivery,
              hit milestones, bug free code, client communication, leadership training,
              recognition of greatness, team player
            </p>
          </div>
        </div>
        <!-- End Accordion Section -->
      </div>
      <!-- End Accordion -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End FAQ -->
