<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Trevor Kirpaul | FullStack, Front End Web Developer</title>
  </head>
  <body>
    <slot />
    <script src="../../node_modules/preline/dist/preline.js"></script>
  </body>
</html>
