<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Fullstack Engineer specializing in TypeScript, React, and Node.JS in the Dayton, OH area."
    />
    <title>Trevor Kirpaul | Fullstack Engineer</title>
  </head>
  <body>
    <slot />
    <script src="../../node_modules/preline/dist/preline.js"></script>
  </body>
</html>
